/* This line specifies the parameters for the overall text contained in the
body of the HTML document; specifically the font used along with alternates,
the point size and the color of the base text written as a hex value.  */

body {
	font-family: helvetica, arial, san-serif;
	font-weight: bold;
	background-image: url("../../../images/backgrounds/worldmapalpha.gif");
	background-color: #eeeeff;
	margin: 0 0 0 0;
}

td {
	font-family: helvetica, arial, san-serif;
}

h1	{
	font-family: helvetica, arial, san-serif;
	font-weight: bold;
}

a	{
	font-family: helvetica, arial, san-serif;
	font-weight: bold;
	text-decoration: none;
}
