/* This line specifies the parameters for the overall text contained in the
body of the HTML document; specifically the font used along with alternates,
the point size and the color of the base text written as a hex value.  */

body {
	font-weight: normal;
	font-size: small;
	background-color: #ffffff;
	background-image: none;
}
a.button {
	color: #CECECE;
}
a {
	color: #990000;
}
a:hover {
	color: #FF7F00;
	text-decoration: underline;
}
