<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Auto Web Start Web Bundle</title>
    <author email="don@donandann.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
<!-- head>
<meta />
</head  -->

  <body>

     <section name="JavaFX deployment examples">
        <p>
        The Auto Web start bundle is perfect for deploying JavaFX modules. Besides simplifying the deploy process, your jars are automatically packed and gziped
        for quick downloads. JavaFX modules are the same as any other java program. All you have to do is place your JFXPanel in a JApplet.
        You can supply your own jnlp template, or use this one:
        </p>
        <p>
        For this example, we'll use a very simple javafx program. You can find it in java central at: 
        java -classpath target/org.jbundle.javafx.example.helloworld-1.0.0-SNAPSHOT.jar:$JAVA_HOME/jre/lib/jfxrt.jar  org.jbundle.javafx.example.helloworld.HelloWorldJavaFX
        </p>
        <p>
        Try this <a href="http://localhost:8181/webstart/docs/applet.html?appletClass=org.jbundle.javafx.example.helloworld.HelloWorldJavaFX&amp;template=docs/javafxapplet.jnlp">simple JavaFX program</a>.
        </p>
        <p>
        If you want to deploy a JavaFX application that was not packaged with an OSGi manifest, just use the wrap protocol to automatically generate a manifest.<br/>
        For example, if this was a regular java jar file, in karaf I would just type:<br/>
        <code>install wrap:file:///home/don/workspace/workspace/jbundle/javafx/helloworld/target/org.jbundle.javafx.example.helloworld-${project.version}.jar</code><br/>
        and I'm ready to run the application from a browser with the same command that we used in the first example. 
        </p>
        <p>
        Since the Auto webstart servlet has access to OSGi resources, you can package your startup parameters and/or jnlp template in your project's jar file.
        For example take a look at the url on
        <a href="http://localhost:8181/webstart/docs/applet.html?webStartPropertiesFile=org/jbundle/javafx/example/helloworld/javafx.properties">this sample</a>.
        The applet's params come from the sample appplication's jar file.
        </p>
        <p>
        You have several options when deploying your JavaFX applications. You can use the auto-webstart javascript framework with a JavaFX jnlp applet template:<br/>
        <code>http://localhost:8181/webstart/docs/applet.html?appletClass=org.jbundle.javafx.example.helloworld.HelloWorldJavaFX&amp;template=docs/javafxapplet.jnlp</code><br/>
        or you can launch your program as a JavaFX application:<br/>
        <code>http://localhost:8181/webstart/docs/javafx.html?appletClass=org.jbundle.javafx.example.helloworld.HelloWorldJavaFXApp</code></br>
        this will use the default javafx template: docs/javafx.jnlp
        </p>
        <p>
        Here's a more complicated example. We'll use the JavaFX ensemble example. I made a <a href="https://github.com/jbundle/javafx/commit/106565f9f88dfde7162da1eb3354e98c0cc8aaed">few minor adjustments</a> to the app
        so it will run in the Java sandbox.
        First, install our example and it's dependencies:<br/>
        <code>
        osgi:install wrap:mvn:org.apache.lucene/lucene-grouping/3.2.0<br/>
        osgi:install wrap:mvn:org.apache.lucene/lucene-core/3.2.0<br/>
        osgi:install wrap:mvn:org.jbundle.javafx.example/org.jbundle.javafx.example.ensemble<br/>
        </code>
        Now, start this example in your browser: 
        <a href="http://localhost:8181/webstart/docs/javafx.html?appletClass=ensemble.Ensemble2">http://localhost:8181/webstart/docs/javafx.html?appletClass=ensemble.Ensemble2</a>.
        Ignore the warning and try the samples. A few of the examples will not work, because they try to access local resources which
        is not allowed in the browser.
        </p>
    </section>

  </body>

</document>
