<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Auto Web Start Web Bundle</title>
    <author email="don@donandann.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
<!-- head>
<meta />
</head  -->

  <body>

     <section name="Note on signed jars">
        <p>
        I'm still not sure how I want to handle signed jars.<br/>
        No user in their right mind would accept this dialog box.<br/>
        <img src="images/javasecuritywarning.png" /><br/>
        The majority of applications should run fine in the sandbox. You should not request access to files on the local computer
        and you should not access web sites that don't originate at the application's site. <br/>
        If you need to access web content, just add a proxy to your web server to deliver these pages to your user's application.<br/>
        If you are worried about your applet getting hacked in-transit, just deliver it with https.<br/>
        </p>
        <p>
        If you must use a signed jar, you can disable compression by setting the jnlp.packEnabled flag to false. Alternatively,
        if you want compression, just
        add an OSGi manifest and do a pack200 repack operation during the build process to make sure that your jar gets to the destination unchanged.<br/>
        Disable compression like this:<br/>
        <code>http://localhost:8181/webstart/docs/javafx.html?appletClass=ensemble.Ensemble2&amp;jnlp.packEnabled=false</code>
        </p>
    </section>

  </body>

</document>
