<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Auto Web Start Web Bundle</title>
    <author email="don@donandann.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
<!-- head>
<meta />
</head  -->

  <body>

     <section name="Signed jars usage">
        <p>
        Jar signing can be enabled by supplying a java keystore path to the webstart bundle.
        <br/>
        Just set the following properties in your OSGI container:<br/>
<source>
config:edit org.jbundle.util.osgi.webstart
config:property-set keystorePath /path/to/keystore.jks
config:property-set timestampURL http://timestamp.digicert.com (For example)
config:property-set keystorePassword **your keystore password**
config:property-set keystoreAlias keystorealias
config:update 
</source>
        </p>
    </section>

  </body>

</document>
